aws_region = "us-east-1"
github_org = "haseeb111"
github_repo = "sample-agentic-aiops-with-bedrock-agentcore"
github_branch = "main"
ervicenow_url      = "https://dev366467.service-now.com"
servicenow_username = "agentcore_service"
servicenow_password = "Blue_boat132!"
